body {
    background-color:azure;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    color: rgb(102, 101, 101);
}

h2 {
    font-family: "Trebuchet MS", sans-serif;
    color: rgb(81, 81, 81);
}

p, ul, ol {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: justify;
    color: rgb(37, 37, 37);
}

ul {
    font-size: 13.5px;
    font-style: italic;
}

ul, ol {
    line-height: 1.6;
}

.cover_image {
    width: 300px;
    height: auto;
}