* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    background-color: rgba(37, 27, 77, 0.852);
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    color: rgba(37, 27, 77, 0.852);
    text-align: center;
    padding: 25px 10px;
    margin: 15px auto;
    background-color: rgba(231, 231, 231, 0.8);
    max-width: 800px;
}

h2 {
    color: rgba(37, 27, 77, 0.852);
}

p, ol {
    font-size: 16px;
    text-align: justify;
}

ul {
    font-size: 13.5px;
    font-style: italic;
}

ol li {
    margin: 15px 0;
}

.outer-container {
    margin: 0 auto;
    max-width: 800px;
    color: rgb(43, 43, 43);
    background-color: rgb(231, 231, 231, 0.8);
    font-family: "Trebuchet MS", sans-serif;
    line-height: 1.3;
}

.cover_image {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.index {
    padding: 10px;
    margin: 10px auto;
    max-width: 800px;
    background-color: rgb(231, 231, 231, 0.8);
}

.index ul {
    max-width: fit-content;
    margin: 15px auto;
    font-size: 18px;
    font-style: normal;
}

.ingredients {
    margin: 0 auto;
    max-width: fit-content;
}

.image-container {
    padding: 20px 0 20px;
}

.description-container, .ingredients-container, .steps-container {
    padding: 20px 40px;
}

.steps-container {
    margin-bottom: 15px;
}

.description-container h2 {
    margin-bottom: 15px;
}

.ingredients-container h2 {
    margin-bottom: 15px;
}